<html>
    <head>
        <title>Freebox: Delete User</title>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>

    <body>
        <form action="/">
            <input type="submit" value="Home">
          </form>
        <form action="/deleteUser" method="post">

            Username: <input type="text" name="user">
              
            <input type="submit" value="Delete">
            
        </form>
        <div><%= deleteResult %></div>
    </body>

</html>