<html>
    <head>
        <title>Freebox</title>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <h1>Welcome to Freebox!</h1>
        <button onclick="addUser()">Add a user</button>

        <button onclick="addPost()">Add a post</button>
        <p></p>
        <button onclick="seeAllUsers()">See all Users</button>

        <button onclick="seeAllPosts()">See all Posts</button>
        <p></p>
        <button onclick="singleUser()">Search Users</button>

        <button onclick="singlePost()">Search Posts</button>
        <p></p>
        <button onclick="editPost()">Edit Post</button>

        <button onclick="viewPost()">Find Posts</button>
        <p></p>
        <button onclick="deleteUser()">Delete User</button>

        <button onclick="deletePost()">Delete Post</button>



        <script>
            function addUser() {
                window.location.href = "/createUser";
            }

            function addPost() {
                window.location.href = "/createPost";
            }

            function seeAllPosts() {
                window.location.href = "/allPosts";
            }

            function seeAllUsers() {
                window.location.href = "/allUsers";
            }

            function singleUser() {
                window.location.href = "/userSearch";
            }
            function singlePost() {
                window.location.href = "/postSearch";
            }

            function editPost() {
                window.location.href = "/editPost";
            }

            function viewPost() {
                window.location.href = "/postSearch";
            }
            function deletePost() {
                window.location.href = "/deletePost";
            }
            function deleteUser() {
                window.location.href = "/deleteUser";
            }
        </script>
    </body>
    

    
</html>